body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: auto;
    max-width: 720px;
    background-color: var(--sky-color);
    --sky-color: #B7E2F3;
}

body > div {
    margin: 20px auto;
}
  
ol, ul {
    padding-left: 30px;
}

ul {
    list-style: none;
}

#editor-play {
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#editor-play > button {
    background-color: cyan;
}

#editor-load {
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#editor-load > button {
    background-color: cyan;
}

#palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#palette > button {
    margin: 5px;
}

#win-text {
    color: #3BB143;
}

#invalid-text {
    color: red;
}
  
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 10px;
}
  
.square {
    background: #FFFFFF;
    border: 1px solid var(--sky-color);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.green {
    background: #4ce0b3;
}

.blue {
    background: #4cc9f0;
}

.red {
    background: #ff595e;
}

.yell {
    background: yellow;
}

.neut {
    background: #ccc5b9;
}

.wall {
    background: var(--sky-color);
}

.orange-door {
    background: #FFD580;
}

.orange-doorframe {
    border: 4px solid orange;
    background: rgba(0, 0, 0, 0);
    float: left;
    padding: 0;
    width: 24px;
    height: 24px;
}

.pink-door {
    background: #FFC6FF;
}

.pink-doorframe {
    border: 4px solid hotpink;
    background: rgba(0, 0, 0, 0);
    float: left;
    padding: 0;
    width: 24px;
    height: 24px;
}

.highlight {
    border: 4px solid yellow;
    background: rgba(0, 0, 0, 0);
    float: left;
    padding: 0;
    width: 24px;
    height: 24px;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-board {
    padding: 25px;
    border-radius: 5px;
    background-color: var(--sky-color);
}
  
.game-info {
    padding-top: 10px;
    background-color: aliceblue;
    border-radius: 15px;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 25px;
}

#intro {
    text-align: center;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 20px;
}

.game-container {
    margin: 20px auto;
}

.levels-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
}

.level-code-container {
    margin: 20px auto;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    overflow-wrap: break-word;
}

#level-code-text {
    background-color: aliceblue;
    border: none;
    overflow: visible;
}

button {
    background-color: #ffcd91;
}

.level-button {
    margin: 5px;
}

.completed-button {
    background-color: yellow;
    margin: 5px;
}

.optimal-button {
    background-color: lime;
    margin: 5px;
}
  
  